.item {
  padding-inline: 40px;
  padding-block-end: 24px;
  text-align: center;
  background-color: var(--color-white);
  border-radius: var(--radius-md);
}

.card {
  margin-block-start: -51px;
}

.img {
  display: block;
  max-inline-size: 168px;
  margin-inline: auto auto 16px;
}

.title {
  margin-block: 0 8px;
  font-size: var(--title-sm);
  line-height: 24px;
}

.description {
  margin-block: 0 16px;
  color: var(--color-text-medium);
}

.buyBlock {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.price {
  margin: 0;
  font-size: var(--title-sm);
  line-height: 24px;
  font-weight: 700;
  word-spacing: 2px;
}

.button {
  inline-size: 32px;
  block-size: 32px;
  padding: 0;
  outline: none;

  &:active {
    outline: 2px solid var(--color-primary-dark);
    color: var(--color-text-dark);
  }
}