.catalog {
  display: grid;
  grid-template-columns: 280px;
  justify-content: center;
  gap: 92px 24px;
  margin: 0;
  padding-inline-start: 0;
  padding-block-start: 52px;
  list-style-type: none;

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(0, 212px));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(0, 252px));
    column-gap: 30px;
  }
}

.item {
  padding-inline: 40px;
  padding-block-end: 24px;
  text-align: center;
  background-color: var(--color-white);
  border-radius: var(--radius-md);

  @media (min-width: 768px) {
    padding-inline: 24px;
  }
}
