.catalog {
  display: grid;
  grid-template-columns: 1fr;
  gap: 92px 30px;
  margin: 0;
  padding-inline-start: 0;
  padding-block-start: 52px;
  list-style-type: none;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.item {
  padding-inline: 40px;
  padding-block-end: 24px;
  text-align: center;
  background-color: var(--color-white);
  border-radius: var(--radius-md);
}
