.about {
  margin-block-end: 50px;
  padding: 24px;
  background-image: url(../../../../shared/assets/images/backgrounds/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left -28px top 0;
  border-radius: var(--radius-lg);

  @media (min-width: 1024px) {
    margin-block-end: 80px;
  }
}

.wrapper {
  padding-inline: 24px;
  padding-block: 32px;
  border-radius: var(--radius-lg);
  background-color: var(--color-white);

  @media(min-width: 768px) {
    padding-inline: 52px;
    padding-block: 56px;
  }
}

.title {
  margin-block-start: 0;
  font-size: var(--title-md);
  text-wrap: balance;

  @media(min-width: 1024px) {
    font-size: var(--title-large);
  }
}

.list {
  display: grid;
  gap: 40px 32px;
  margin-block: 0;
  padding-inline-start: 0;
  list-style-type: none;

  @media(min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.item {
  @media(min-width: 768px) {
    display: flex;
  }
}

.icon {
  display: block;
  float: left;
  margin-inline-end: 12px;
  padding: 12px;
  border: 2px var(--color-text-dark) solid;

  @media(min-width: 768px) {
    float: none;
    margin-inline-end: 16px;
  }

  @media(min-width: 1024px) {
    margin-inline-end: 24px;
  }
}

.text {
  margin: 0;
  text-align: start;
  text-wrap: balance;
}
