/* Вкусы */

.tastes {
  margin-block-end: 80px;
}

.tastes__slogan {
  margin-block: 0 107px;
  padding-inline: 320px;
  text-align: center;
  font-size: var(--title-large);
  line-height: 46px;
  font-weight: 900;
}

.tastes__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 91px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tastes__item {
  padding-inline: 40px;
  padding-block-end: 24px;
  text-align: center;
  background-color: var(--color-white);
  border-radius: var(--radius-md);
}

.taste__wrapper {
  margin-block-start: -51px;
}

.taste__img {
  display: block;
  inline-size: 168px;
  margin-inline: 11px;
  margin-block-end: 16px;
}

.taste__title {
  margin-block: 0 8px;
  font-size: var(--title-sm);
  line-height: 24px;
}

.taste__description {
  margin-block: 0 16px;
  color: var(--color-text-medium);
}

.taste__buy-block {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.taste__price {
  margin: 0;
  font-size: var(--title-sm);
  line-height: 24px;
  font-weight: 700;
  word-spacing: 2px;
}

.taste__button {
  position: relative;
  inline-size: 32px;
  block-size: 32px;
  padding: 0;
  border: none;
  outline: none;
  color: var(--color-white);
  background-color: var(--color-primary-dark);

  &:hover {
    outline: 2px solid var(--color-primary-dark);
    background-color: oklch(from var(--color-white) l c h / 0.3);
    color: var(--color-text-dark);
  }

  &:focus {
    outline: 2px solid var(--color-text-dark);
    background-color: var(--color-primary-dark);
  }

  &:active {
    outline: 2px solid var(--color-primary-dark);
    background-color: var(--color-primary-lighter);
    color: var(--color-text-dark);
  }

  &:disabled {
    background-color: var(--color-text);
    color: var(--color-text-medium);
  }
}
